*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
.portfolio{
    height: 100vh;
    width: 100vw;
    background: greenyellow;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
.logo::first-letter{
    font-size: 40px;
    border: 2px solid #222;
    border-right: transparent;
    padding-left: 5px;
    color: purple;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}
nav ul li a{
    position: relative
    color: white;
    font-weight: bold;
    padding: 4px 0;
}
nav ul li a:hover{
    color: indigo;
}
nav ul li a::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: darkred;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}
.btn{
    coloor: orangered;
    font-size: 16px;
    text-transform: lowercase;
    background: darkgreen;
    padding: 10px 30px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border: 2px solid orangered;    
}
.btn:hover{
    background: transparent;
    color: #333;
    
}
.detail{
    position: absolute;
    top: 35%;
    left: 8%;
}
.detail h1{
    color: lightgrey;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;

}
        
.detail h1 span{
    color: skyblue;

} 
.detail p{
    color: cadetblue;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 30px;

}
.image{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 145px;
    right: 80px;
}
.image img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 500px;
}